.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.logo-container img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-container h1 {
  font-size: 1.8rem;
  color: #007777;
  font-weight: 600;
  letter-spacing: 1px;
}
